*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
header{
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
}
section{
    display: flex;
}
footer{
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;
    color: white;
}
.Vertical{
    display: flex;
    flex-direction: column;
}
.barra{
    justify-content: space-between;
}
